@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
}

#wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  font: 300 30px/1 "Open Sans Condensed", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: 120s credits linear;
}

.game {
  margin-bottom: 50px;
  font-size: 50px;
}

.job {
  margin-top: 50px;
  font-size: 18px;
  border-bottom: 1px solid white;
}

.name {
  margin-bottom: 5px;
  font-size: 35px;
}

@keyframes credits {
  from {
    top: 100%;
  }
  to {
    top: -500%;
  }
}
