@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
  font-family: Lato;
}
#achievement {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  transform: scale(0);
  transition: 250ms ease-in-out;
  box-shadow: 0 3px 20px #1E7195;
}
#achievement.expand {
  transform: scale(1);
}
#achievement.expand .circle:before {
  animation: rotate 400ms linear;
}
#achievement.expand.widen {
  width: 760px;
  border-radius: 100px;
}
#achievement .circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #E4BF2B;
  position: absolute;
  top: 20px;
  left: 20px;
}
#achievement .circle:before {
  font-size: 100px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  color: #fff;
  position: absolute;
  top: 30px;
  left: 34px;
  transform: scale(1);
  transition: 250ms ease-in-out;
}
#achievement .circle.rotate:before {
  animation: rotateBack 400ms linear;
}
#achievement .copy {
  opacity: 0;
  transition: 250ms ease-in-out;
  width: 480px;
  left: 200px;
  position: absolute;
  top: 50%;
  /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%);
  /* tiré de la moitié de sa propre hauteur */
}
#achievement .copy.show {
  opacity: 1;
}
#achievement .copy h4 {
  font-size: 44px;
  margin: 0;
}
#achievement .copy p {
  font-size: 33px;
  margin: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateBack {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
